/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016.01.11., 16:50:03
    Author     : LeeroyDev
*/
.navbar-wrapper {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
}
.navbar-wrapper > .container {
    padding-left: 0;
    padding-right: 0;
}
.navbar-wrapper .navbar {
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-wrapper .navbar .container {
    width: auto;
}

@media (min-width: 768px) {
.navbar-wrapper {
    margin-top: 20px;
}
.navbar-wrapper .container {
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-wrapper .navbar {
    padding-left: 0;
    padding-right: 0;
}
.navbar-wrapper .navbar {
    border-radius: 4px;
}
}


.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-brand
{
 font-size:30px;
 line-height:30px;
 color: #ffffff;
 font-family: 'Play', sans-serif;
 padding: 8px 15px 15px 15px;
}

.h1, .h2, .h3, h1, h2, h3{
 margin-top: 2px;
 margin-bottom: 5px;
}

.viewers{
  margin-top: 2px;
  float: right;  
  font-size:14px;
  color: crimson;
}

.stream_list_picture {
    display:block;
    margin: auto;
    width: 100%;
    padding: 0px;
}

.stream_list_box
{
}

.stream_title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
    line-height: 2rem;
    margin-bottom: -0.60401rem;
    padding-top: 0.60401rem;
    color: #32323e;
    font-size: 16px;
}

.stream_info
{
    margin-top:10px;
    color: #8c8c8c;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

.thumb {
    display: block;
    height: 0;
    margin-bottom: 6px;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}

.boxart {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #fff -moz-use-text-color -moz-use-text-color #fff;
    border-image: none;
    border-style: solid none none solid;
    border-width: 2px medium medium 2px;
    bottom: 0;
    position: absolute;
    right: 0;
}	

.panel-twitch
{
  background-color: #6441a5;
  border-color: #6441a5;
  color: #fff;
}

.btn-twitch {
    background-color: #6441a5;
    border-color: #6441a5;
    color: #fff;
}


.boxart img {
    width: 70px;
}


.footer {
    background: #18191b none repeat scroll 0 0;
    color: #999999;
    margin-left: auto;
    margin-right: auto;
}

.footer h3{
   margin-bottom: 10px;
   margin-top: 20px;   
}

.footer a {
    color: #999999;
}

.footer a:hover {
    color: #999999;
}

.footer-nav {
    background: #303236 none repeat scroll 0 0;
}

.pull-footer-nav {
    margin-top: 10px;
}